<h2><%= INTERESTED_HEADING %></h2>
<div id="notice">
	<%= render partial: 'shared/messages', flash: flash %>
</div><!-- ./notice -->

<div class="cd-form">

	<p class="fieldset"><%= INTERESTED_TEXT %></p>
	<p class="fieldset"><%= SHARE_TEXT %></p>

	<%= render partial: 'shared/referral_links' %>
</div><!-- ./cd-form -->